debug/
target/
**/*.rs.bk
**/*.profraw
node_modules
TODO.org
.direnv
_build
result
.DS_Store
.depend
.cache
.lake
proof-libs/fstar/rust_primitives/#*#
**/proofs/*/extraction/*
!**/proofs/*/extraction/Makefile
!**/proofs/*/extraction/*.diff
!**/proofs/fstar/extraction/*.fst
!**/proofs/coq/extraction/*.v
!**/proofs/lean/extraction/lakefile.toml
!**/proofs/rust/extraction/Cargo.toml
